<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="style_navbar2.css" />
  </head>

  <body>
    <header>
      <nav>
        <ul class="link">
          <li>
            <a href="penyakit.php">Penyakit</a>
          </li>
          <li>
            <a href="gejala.php">Gejala</a>
          </li>
          <li>
            <a href="Relasi.php">Relasi</a>
          </li>
          <li>
            <form action="logout.php" method="POST">
              <button type="submit" name="logout" class="logout">
                Log Out
              </button>
            </form>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
